body {
    font-family: sans-serif;
    margin-top: 75px;
     /*background-image: url("backg1.jpg");*/
    background: #F8F8F8 url('bg-pattern.gif');
     min-height: 100%;
    background-position: center;
    background-size: cover;
     /*color:white;*/
    font-size:20px;
}

.center {
    text-align: center;
}
.img-circle {
    border-radius: 50%;
        width: 132px;
}

/*.text-big {*/
/*    font-size: 75%;*/
/*}*/

.bold {
    font-weight: bold;
}

/*.img-medium {*/
/*    height: 200px;*/
/*}*/

.container {
    max-width:800px;
    margin:0 auto;
    color:green;
    font-family:sans-serif;
    padding-left:20px;
    padding-right:20px
    
}

.footer3{
    padding-top:900px;
}
.date{
    color:red;
}
#toTop {
    text-indent: -9999px;
    position: fixed;
    top: 200px;
    right: 30px;
    height: 269px;
    width: 89px;
    background: url(top-animate.png);
    opacity: 0;
    z-index: 10;
}

